 


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    
    
  }
  .sidebar-nav .navbar ul {
    float: none;
    /*display: block;*/
   
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    
   
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    
    font-size: 20px
  }

  
  
}


.first {
    
  /*height:80vh;
  min-height:400px; */
  height:500px;
  background-size:cover;
  background-image:url("../images/header.png");
}

#menu{
      color: black;
  }

#menu:hover{
  color: white;
}

  section{
      padding:100px 0
  }

  #logo {
     top: 0;
     position: fixed;
     background-color: #fff;
     height: 40px;
     width: 100%;

  }

  #intro {
      top: 600px
  }

  

